@{
    ViewData["Title"] = "Home Page";
}

@model List<Presupuestos>

<div class="text-center">
    <h2 class="p-2 display-5">Presupuestos</h2>
    <a class="text-primary border border-primary p-2 d-inline rounded m-2" >Agregar Presupuesto</a>
    <a class="text-danger border border-danger p-2 d-inline rounded m-2">Eliminar Presupuesto</a>

@foreach (var p in Model)
{
        <div class="presupuesto">
            <h3 class = "mt-4">Presupuesto #@(p.IdPresupuesto + 1) - @p.NombreDestinatario</h3>
            <p><b>Fecha:</b> @p.FechaCreacion.ToShortDateString()</p>

            <table class="table table-sm table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detalle in p.Detalle)
                    {
                        <tr>
                            <td>@detalle.Producto.Descripcion</td>
                            <td>@detalle.Producto.Precio.ToString("C", new System.Globalization.CultureInfo("es-AR"))</td>
                            <td>@p.cantidadProductos()</td>
                            <td>@p.montoPresupuesto().ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p><b>Total del Presupuesto (IVA):</b>
                @p.montoPresupuestoConIVA().ToString("C")
        </p>
    </div>

    <hr />
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>